<h1>Lunch tracking update notification</h1>

<p>Thank you for your continued patronage of Pepper Lunch!

<p>We have received your lunch tracking update!

<p>You've eaten lunch at Pepper Lunch <%= @lunch_count %> times! Wow!

<p>We are so glad you joined us on the following dates:
<ul>
    <% @lunch_dates.each do |lunch_date| %>
        <li><%= lunch_date %>
    <% end %>
</ul>
