<h1>Welcome to PepperLunch Tracker</h1>

<div class="timetable" ng-controller="TimetableCtrl">
  <h2 class="text-center">You have taken {{ lunchCount }} times of PepperLunch</h2>
  <div class="row">
    <div class="col-md-2 col-md-offset-5 btn btn-success" ng-click="submitCount()">Save</div>
  </div>

  <div class="row header">
    <div class="col-md-1"></div>
    <div class="col-md-2">Mon</div>
    <div class="col-md-2">Tue</div>
    <div class="col-md-2">Wed</div>
    <div class="col-md-2">Thu</div>
    <div class="col-md-2">Fri</div>
  </div>
  <div class="row week" ng-repeat="week in weeks">
    <div class="col-md-1 text-right number">Week {{ $index + 1 }}</div>
    <div class="col-md-2 day" ng-repeat="day in week track by $index">
      <div class="btn" ng-class="getClass(day)" ng-click="increment($parent.$index, $index)"></div>
    </div>
  </div>
</div>