
<!-- div.timetable>div.row*13>div.col-md-2.week${Week $}+div.col-md-2.day$*5>div.btn.btn-success -->

<div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>


<div class="timetable">
  <div class="row week">
    <div class="col-md-2 number">Week 1</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 2</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 3</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 4</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 5</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 6</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 7</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 8</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 9</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 10</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 11</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 12</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
  <div class="row week">
    <div class="col-md-2 number">Week 13</div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
    <div class="col-md-2 day">
      <div class="btn btn-success"></div>
    </div>
  </div>
</div>

